.cart-modal-product-image{
    padding: 2px;
}
.button-cover-div{
    padding:0px !important;
}
.product-name {
    font-family:serif !important;
    font-size: 20px;
    color: black;
}
.product-info{
    padding: 5px;
}
.cart-modal-icons{
    height: 15px;
    color: #3880ff;
}
.cart-modal-price-icon{
    height: 15px;
    color: #0b9106;
}